*{
  padding: 0;
}

.imagemFundo {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
  z-index: -1; 
}


.divLogo {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  
}

.imagemlogo{
  height: auto;
  width: 100%;
 }

.btnPedir {
  position: absolute; /* Para posicionamento absoluto dentro de um contêiner */
  font-size: 20px;
  top: 60%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição para que o centro do botão esteja no centro da tela */
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  background-color: #31ce44; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda */
  border-radius: 7px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que o elemento é clicável */
}

.btnPedir:hover {
  background-color: #208031; 
}

