* {
  padding: 0;
}

.imagemFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.divLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.imagemlogo {
  height: auto;
  width: 50rch;
}

.btnPedir {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #31ce44;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btnPedir:hover {
  background-color: #208031;
}

.redeSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.redeSocial li {
  margin: 0 1rem;
}

.redeSocial svg {
  font-size: 40px;
  cursor: pointer;
  color: azure;
}

.redeSocial li:hover {
  background-color: #3f3535;
  transition: 0.3s;
  border-radius: 7px;
}